body {
    margin: 70px 0 0;
}

.minwidth {
    width: 1%;
}

.filters {
    margin-bottom: 10px;
}

.filters-list span.label {
    font-weight: normal;
    font-size: 12px;
}

.submit-section {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
    margin: 0;
}
